#background {
	position:absolute;
	left:153px;
	top:154px;
	width:994px;
	height:2500px;
	background:#F7F7F7;
	border:1px solid #F0F0F0;
	z-index:1;
}
#basicinfo {
	position:absolute;
	left:13px;
	top:125px;
	width:925px;
	height:406px;
	background:#FFFFF0;
	border:1px solid #F0F0F0;
	z-index:2;
}
#rightinfo {
	position:absolute;
	left:683px;
	top:125px;
	width:287px;
	height:407px;
	border:1px solid #000;
	z-index:3;
}
#imageinfo {
	position:absolute;
	left:5px;
	top:5px;
	width:400px;
	min-height:400px;
	
	z-index:4;
}
#headinfo {
	position:absolute;
	left:14px;
	top:20px;
	width:960px;
	height:100px;
	border:1px solid #F0F0F0;
	z-index:5;
}
#titleinfo1  {
	position:absolute;
	left:8px;
	top:4px;
	width:607px;
	height:32px;
	color:#FF3030;
	font-size:25px;
	border:1px solid #F0F0F0;
	z-index:6;
}
#titleinfo2 {
	position:absolute;
	left:9px;
	top:44px;
	width:606px;
	height:25px;
	font-size:15px;
	color:#000000;
	border:1px solid #F0F0F0;
	z-index:7;
}
#titleinfo3 {
	position:absolute;
	left:9px;
	top:70px;
	width:606px;
	height:24px;
	font-size:15px;
	color:#000000;
	border:1px solid #F0F0F0;
	z-index:7;
}
#centerinfo1 {
	position:absolute;
	left:450px;
	top:22px;
	width:400px;
	height:28px;
	color:#525252;
	border:1px solid #F0F0F0;
	z-index:8;
}
#centerinfo2 {
	position:absolute;
	left:450px;
	top:60px;
	width:400px;
	height:28px;
	color:#525252;
	border:1px solid #F0F0F0;
	z-index:9;
}
#centerinfo3 {
	position:absolute;
	left:450px;
	top:100px;
	width:400px;
	height:31px;
	color:#525252;
	border:1px solid #F0F0F0;
	z-index:10;
}
#centerinfo4 {
	position:absolute;
	left:450px;
	top:145px;
	width:400px;
	height:180px;
	color:#525252;
	border:1px solid #F0F0F0;
	z-index:11;
}
#map{
	position:absolute;
	left:13px;
 	top:1150px; 
	width:925px;
	height:500px;
	border:1px solid #000;
	z-index:12;
}
#map_detail {
	position: absolute;
	left: 16px;
	top: 1150px;
	width: 722px;
	height: 495px;
	border:1px solid #000;
	z-index: 13;
}
#map_around {
	position: absolute;
	left: 744px;
	top: 1150px;
	width: 191px;
	height: 495px;
	border:1px solid #000;
	overflow:hidden;
	z-index: 14;
}

#secondinfo{
	position:absolute;
	left:13px;
	top:540px;
	width:925px;
	min-height:250px;
	border:1px solid #000;
	
	z-index:13;
}
#typephoto{
	position:absolute;
	left:13px;
	top:800px;
	width:925px;
	min-height:340px;
	border:1px solid #000;
}
#typephotoin {
	position:relative;
	margin-left:22px;
	top:30px;
	width:220px;
	height:220px;
	border:1px solid #000;
	
}
#threeinfo{
	position:absolute;
	left:13px;
	 top:1660px; 
	width:925px;
	min-height:300px;
	border:1px solid #000;
	z-index:14;
}
#fourinfo{
	position:absolute;
	
	left:13px;
	top:1975px; 
	width:925px;
	min-height:275px;
	border:1px solid #000;
	z-index:15;
}
#fiveinfo{
	position:absolute;
	left:13px;
	 top:2250px; 
	width:649px;
	min-height:200px;
	border:1px solid #000;
	z-index:15;
}